pyrogram==1.4.16
TgCrypto
aiohttp
python-dotenv
ffmpeg
feedparser
pillow
requests
bs4
uvloop
motor
dnspython
opencv-python-headless
aiofiles
html5lib
libtorrent
git+https://github.com/kaif-00z/html-telegraph-poster
